<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jsp_project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <servlet-name>Frist.Login</servlet-name>
    <servlet-class>Frist.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Frist.Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Frist.Controller</servlet-name>
    <servlet-class>Frist.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Frist.Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Frist.End_session</servlet-name>
    <servlet-class>Frist.End_session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Frist.End_session</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>
</element>